<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div>
			<div><img src="" alt="database picture"/></div>
			<div id="database">数据库原理</div>
			<div id="teacher">郑巧仙</div>
		</div>
		<div>
			<div><img src="" alt="system control picture"/></div>
			<div id="System">操作系统</div>
			<div id="teacher">周双娥</div>
		</div>
		<div>
			<div><img src="" alt="internet picture"/></div>
			<div id="Web">计算机网络</div>	
			<div id ="teacher">陈南平</div>
		</div>
	</body>
</html>
