<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form method="post">
		<ol id="stem">
	
			<li th:each="CQ :${CQs.CQList}" >
				<span th:text="${CQ.descript}" />
				<dl >
					<dd><input type="radio"  th:name="choose+${CQStat.index}"  id="choose1a" value="A" /> A.<span th:text="${CQ.a}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1b" value="B" /> B.<span th:text="${CQ.b}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1c" value="C" /> C.<span th:text="${CQ.c}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1d" value="D" /> D.<span th:text="${CQ.d}"></span></dd>
				</dl>
     
			</li>
			
			<!-- <div th:each="CQ :${CQs.CQList}" th:if="${CQ.answer!=}"> -->
		
	
		</ol>
		<button id="submit" name="submit" value="交卷">交卷</button>
		</form>
</body>
</html>