<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<script type="text/javascript">
		window.onload = function() {
			showLeftTime();
		}
		var leftTime = parseInt("1800");
		var timer = setInterval(function() {
			showLeftTime()
		}, 1000);
		//显示剩余的时间
		function showLeftTime() {
			var leftHours = parseInt(leftTime / 3600);
			var leftMinutes = parseInt(leftTime / 60);
			var leftSeconds = parseInt(leftTime % 60);
			if(leftTime &lt; 0) {
				clearInterval(timer);
				document.location.href = document.location.href;
			} else {
				document.getElementById('leftTime').innerHTML = '剩余时间：' + leftHours + '时' + leftMinutes + '分' + leftSeconds + '秒';
			}
			leftTime--;
		}
	</script>

	<body>
		<form method="post">
		<ol id="stem">
	
			<li th:each="CQ :${CQs.CQList}" >
				<span th:text="${CQ.descript}" />
				<dl >
					<dd><input type="radio"  th:name="choose+${CQStat.index}"  id="choose1a" value="A" /> A.<span th:text="${CQ.a}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1b" value="B" /> B.<span th:text="${CQ.b}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1c" value="C" /> C.<span th:text="${CQ.c}"></span></dd>
					<dd><input type="radio" th:name="choose+${CQStat.index}" id="choose1d" value="D" /> D.<span th:text="${CQ.d}"></span></dd>
				</dl>
     
			</li>
			
			<!-- <div th:each="CQ :${CQs.CQList}" th:if="${CQ.answer!=}"> -->
		
	
		</ol>
		<button id="submit" name="submit" value="交卷">交卷</button>
		</form>
		<p id="leftTime"></p>
	</body>
</html>


