<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="css/student.css"/>
	<script type="text/javascript" src="js/studentscript.js"></script>
	<body>
		<div id="container">
			<div id="header">在线考试系统</div>
	 		<div id="menu">
				<div><a id="btn" href="StudentInfo.html" target="iframe_a">个人信息</a></div>
				<div><a id="btn" href="ChoosedCourse.html" target="iframe_a">已选课程</a></div>
			    <div><a id="btn" href="SelfTest.html" target="iframe_a">自我检测</a></div>
				<div><a id="btn" href="修改课程信息" target="iframe_a">历史成绩</a></div>
			    <div><a id="btn" href="修改学生" target="iframe_a">在线考试</a></div>
	    	</div>
	    	<div id="context" >
	    		<iframe src="demo_iframe.html" id="iframe_a" name="iframe_a" scrolling="no" 				onload="changeFrameHeight()" frameborder="0"></iframe>
	    	</div>
	    	<div id="footer">
	    		版权@ 湖北大学
	    	</div>
		</div>
	</body>
</html>
