<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<style>
		
	</style>

			<frameset rows="50px,*,60px" border="2px" frameborder="1">
                    <frame id="top" src="student_top" name="top" scrolling="no"/>
                        <frameset cols="17%,*">
                        	<frame src="student_button"  scrolling="no"/>
                        	<frame src="student_demo_iframe" name="index1"/>
                        </frameset>
                        <frame src="student_footer"  scrolling="no"/>
                        
           </frameset>			
		
	<body></body>

</html>