<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	
			<frameset rows="65px,*,30px" border="2px" frameborder="1">
                    <frame id="top" src="admin_top" name="top" scrolling="no"/>
                        <frameset cols="17%,*">
                        	<frame src="admin_button"  scrolling="no"/>
                        	<frame src="admin_student" name="index1"/>
                        </frameset>
                        <frame src="admin_footer"  scrolling="no"/>
                        
           </frameset>			
		
	<body></body>

</html>