<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>湖大教育  专注在线考试  专注高校教育</title>
	</head>
	<style>	
	    .answer{
			font-family:charcoal "微软雅黑";
			color:red;
			font-size:15px;
		}
		ul{
			list-style: none;
		}
		.xinxiSpan{
			font-family:Helvetica,Arial,sans-serif;font-size:25px;
		}
		
	</style> 
            <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
			<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
			
		
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                        <span class="xinxiSpan" >题库信息</span>
                        
			 </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active" style="font-size:15px;font-weight:700;"><a href="#CHOICE" data-toggle="tab" >选择题</a>
                                </li>
                                <li class="" style="font-size:15px;font-weight:700;"><a href="#SHORTANSWER" data-toggle="tab" >填空题</a>
                                </li>
                                <li class="" style="font-size:15px;font-weight:700;"><a href="#COMPREHENSIVE" data-toggle="tab" >综合题</a>
                                </li>
                               
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="CHOICE">
                                    <ol id="CHOICE-ol"></ol>
                                    
                                    <div class="col-md-12 column">
			<ul class="pagination pull-right">
				<li>
					 <a href="#">Prev</a>
				</li>
				<li>
					 <a href="#">1</a>
				</li>
				<li>
					 <a href="#">Next</a>
				</li>
			</ul>
		</div>
                                    
                                </div>
                                <div class="tab-pane fade" id="SHORTANSWER">
                                    <ol id="SHORTANSWER-ol"></ol>
                                    
                                      <div class="col-md-12 column">
			<ul class="pagination pull-right">
				<li>
					 <a href="#">Prev</a>
				</li>
				<li>
					 <a href="#">1</a>
				</li>
				<li>
					 <a href="#">Next</a>
				</li>
			</ul>
		</div>
                                    
                                </div>
                                <div class="tab-pane fade" id="COMPREHENSIVE">
                                </div>
                            </div>
                        </div>
                    </div>
                
    <script src="assets/js/jquery-1.10.2.js">   /*<![CDATA[*//*]]>*/</script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js">   /*<![CDATA[*//*]]>*/</script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js">   /*<![CDATA[*//*]]>*/</script>
    <script th:inline="javascript">
    /*<![CDATA[*/
   
    		var questions={
    	    		"CHOICE":[[${searchModel.choiceQuestion}]],
    	    		"SHORTANSWER":[[${searchModel.shortanswerQuestion}]],
    	    		"COMPREHENSIVE":[[${searchModel.comprehensiveQuestion}]]
    	    		}; 
    		//添加选择题到选择题div中
    		var CHOICEul = document.getElementById("CHOICE-ol");
    		//要添加的题目li变量
            var CHOICEli; 
            //要添加的
    　　　　//添加 li
           for(var i=0;i<questions.CHOICE.length;i++){
           	//设置 li 属性，如 id
           	CHOICEli= document.createElement("li");
    　　　　CHOICEli.setAttribute("id", "CHOICE"+(i+1));
     
    　　　　CHOICEli.innerHTML = "<ul><li>"+questions.CHOICE[i].descript+"</li><br/><li>A: "+questions.CHOICE[i].a+"</li><li>B: "+questions.CHOICE[i].b+"</li><li>C: "+questions.CHOICE[i].c+"</li><li>D: "+questions.CHOICE[i].d+"</li><br/><li class=\"answer\">正确答案："+questions.CHOICE[i].answer+"</li></ul><hr/>";
    　　　　CHOICEul.appendChild(CHOICEli);
           }
           //添加填空题
           var SHORTANSWERul = document.getElementById("SHORTANSWER-ol");
    		//要添加的题目li变量
            var SHORTANSWERli; 
            //要添加的
    　　　　//添加 li
           for(var i=0;i<questions.SHORTANSWER.length;i++){
           	//设置 li 属性，如 id
           	SHORTANSWERli= document.createElement("li");
    　　　　SHORTANSWERli.setAttribute("id", "SHORTANSWER"+(i+1));
     
    　　　　SHORTANSWERli.innerHTML = "<ul><li>"+questions.SHORTANSWER[i].descript+"</li><br/><li></li><br/><li class=\"answer\">正确答案："+questions.SHORTANSWER[i].answer+"</li></ul><hr/>";
    　　　　SHORTANSWERul.appendChild(SHORTANSWERli);
           }

　　　　
           /*]]>*/
		
	</script>
	
	<body></body>
	
</html>
