<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>学生试卷</title>
	</head>
	<style type="text/css">
		.cancle {
			float: right
		}
		ul{
			list-style: none;
		}
		.cancle {
			height: 30px;
			clear: both;
			background: url(images/ub1.png) repeat-x;
			margin-top: 2px;
			float: right;
			margin-right: 12px;
			border-radius: 30px;
			white-space: nowrap;
			position: relative;
			margin-top: 8px;
			margin-right: 50px;
		}
		.cancle span {
			display: inline-block;
			padding-right: 10px;
			line-height: 30px;
			font-size: 14px;
			color: #fff;
			padding-left: 20px;
			padding-left: 35px;
		}	
		.cancle a {
			font-size: 13px;
			color: #FFD6AF;
			;
			text-decoration: none
		}
		
		.cancle a:hover {
			color: #fff;
		}
		.answer{
			font-family:charcoal "微软雅黑";
			color:red;
			font-size:15px;
		}
	</style>
	<body>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<div class="panel panel-default">
			<div class="panel-heading">
				<span style="font-size: 25px;">学生试卷</span>				
					<span style="float: right;"><button onClick="javascript :history.back(-1);">返回</button ></span>
			</div>
		</div>
			<div class="panel-body">
	            <ul class="nav nav-tabs">
                <li class="active" style="font-size:15px;font-weight:700;"><a href="#blockquestion" data-toggle="tab" >填空题</a></li>
                <li class="" style="font-size:15px;font-weight:700;"><a href="#edtquestion" data-toggle="tab" >综合题</a></li>
                <form style="margin-left: 400px;" action="" method="post">
           	    <span>总分</span><input id="scoreSum" style="width: 100px;" type="text" value="" placeholder="点击查看" onclick="getSum();" />
           	    <input style="height: 28px;line-height: 14px;" class="btn btn-default" type="submit" value="提交"/>
           </form>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="blockquestion">
                        <ol id="blockquestion-ol"></ol>
                    </div>
                    <div class="tab-pane fade" id="edtquestion">
                    	<ol id="edtquestion-ol"></ol>
                    </div>
                </div>
         </div>
	</body>

     <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
		var scores=document.getElementsByClassName("score");
		var scoreSum=document.getElementById("scoreSum");
		var sum=0;
		function getSum(){
		sum=0;
		for(var i=0;i<scores.length;i++){
			sum+=(scores[i].value-0);
		}
		scoreSum.value=sum;
		}
		
		var questions = { 
			"blockquestion": [{
					"ID": "1",
					"desc": "数据模型通常由 （）（）和（）3要素组成",
					"stuAns":"你猜我答案是什么",
					"trueAns": "数据结构.关系操作.完整性约束"
				},
				{
					"ID": "2",
					"desc": "当前数据库系统的主流是（）",
					"stuAns":"你猜我猜不猜你答案",
					"trueAns": "数据结构"
				}
			],
			"edtquestion": [{
					"ID": "1",
					"desc": "什么是数据建模？",
					"stuAns":"你猜我猜你猜不猜你答案",
					"trueAns": "数据建模指的是对现实世界各类数据的抽象组织，确定数据库需管辖的范围、数据的组织形式等直至转化成现实的数据库。<br>将经过系统分析后抽象出来的概念模型转化为物理模型后，在visio或erwin等工具建立数据库实体以及各实体之间关系的过程·；（实体一般是表）。"
				},
				{
					"ID": "2",
					"desc": "什么是E-R图",
					"stuAns":"你猜我猜你猜我猜不猜你答案",
					"trueAns": "E-R图也称实体-联系图，提供了表示实体类型、属性和联系的方法，用来描述现实世界的概念模型。"
				},

			]
		};
		//添加填空题
		var blockul = document.getElementById("blockquestion-ol");
		//要添加的题目li变量
		var blockli;
		//要添加的
		　　　　 //添加 li
		for(var i = 0; i < questions.blockquestion.length; i++) {
			//设置 li 属性，如 id
			blockli = document.createElement("li");　　　　
			blockli.setAttribute("id", "blockquestion" + (i + 1));　　　
			blockli.innerHTML = "<ul><li>" + questions.blockquestion[i].desc + "</li><br/><br/><li>学生答案：" + questions.blockquestion[i].stuAns + "</li><li class=\"answer\">正确答案: "+questions.blockquestion[i].trueAns+"</li><br/><li>得分: <input class=\"score\" maxlength=\"2\"  style=\"width:50px;\" type=\"text\"/></li></ul><hr/>";　　　　
			blockul.appendChild(blockli);
		}
		  //添加填空题
//      var SHORTANSWERul = document.getElementById("blockquestion-ol");
//		//要添加的题目li变量
//      var SHORTANSWERli; 
//      //要添加的
　　　　//添加 li
//     for(var i=0;i<questions.SHORTANSWER.length;i++){
//     	//设置 li 属性，如 id
//     	SHORTANSWERli= document.createElement("li");
//　　　　SHORTANSWERli.setAttribute("id", "SHORTANSWER"+(i+1));
// 
//　　　　SHORTANSWERli.innerHTML = "<ul><li>"+questions.SHORTANSWER[i].desc+"</li><br/><li></li><br/><li class=\"answer\">正确答案："+questions.SHORTANSWER[i].trueAns+"</li></ul><hr/>";
//　　　　SHORTANSWERul.appendChild(SHORTANSWERli);
//     }

		//添加简答题到简答题div中
		var edtul = document.getElementById("edtquestion-ol");
		//要添加的题目li变量
		var edtli;
		//要添加的
		　　　　 //添加 li
		for(var i = 0; i < questions.edtquestion.length; i++) {
			//设置 li 属性，如 id
			edtli = document.createElement("li");　　　　
			edtli.setAttribute("id", "edtquestion" + (i + 1));　　　
			edtli.innerHTML = "<ul><li>" + questions.edtquestion[i].desc + "</li><li>学生答案: "+questions.edtquestion[i].stuAns+"</li><li maxlength=\"2\" class=\"answer\">正确答案：" + questions.edtquestion[i].trueAns + "</li><br/><li>得分: <input class=\"score\" style=\"width:50px;\" type=\"text\"/></li></ul><hr/>";　　　　
			edtul.appendChild(edtli);
		}
		/*]]>*/
	</script>
</html>