<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<ul class="pagination" >
    <!-- 上一页 -->
    <li class="page-item" data-th-classappend="*{first} ? 'disabled' : ''">
        <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} - 1" aria-label="Previous">
            <span aria-hidden="true">«</span>
        </a>
    </li>

    <!-- 迭代生成页码 -->
    <li class="page-item" data-th-each="i : ${#numbers.sequence(1, page.totalPages)}" 
        data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''" >
        <a class="page-link" data-th-attr="pageIndex=${i} - 1" href="javascript:void(0);">
             <span data-th-text="${i}"></span>
        </a>
    </li>

    <!-- 下一页 -->
    <li class="page-item" data-th-classappend="*{last} ? 'disabled' : ''">
        <a href="javascript:void(0);" class="page-link" data-th-attr="pageIndex=${page.number} + 1" aria-label="Next">
            <span aria-hidden="true">»</span>
        </a>
    </li>
</ul>

	</body>
</html>
