<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<h2>Exam List</h2>
	<div th:unless="${#lists.isEmpty(Exams)}">
		<form method="post" action="/findPaper">
		<dl th:each="exam :${Exams}">	
			<dt class="examHeadline">
				试卷id:<span th:text="${exam.paperId}"></span><br /> 课程:<span
					th:text="${exam.courseId}"></span><br /> 考试时间:<span
					th:text="${exam.beginTime}"></span>
					<input name="paper" type="hidden" th:value="${exam.paperId}" />
				<button  type="submit" >查询</button>	
			</dt>
		</dl>
		</form>
	</div>
	<div th:if="${#lists.isEmpty(Exams)}">
		<p>no exam in your list</p>
	</div>
	<form method="post" action="/createExam">
		输入试卷选择题数目:<input type="text" name="CQnum" /> <r/> 
		输入试卷填空题数目:<input type="text" name="SQnum" /> <br/>
		输入试卷综合题数目:<input type="text" name="CphQnum" /> <br/>
		<input type="submit" value="生成试卷"></input>
	</form>
</body>
</html>
