<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>在线考试系统 教师信息列表</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
	</head>

		<style type="text/css">
			.pCSS{  font-family: 'Open Sans', helvetica, arial, sans-serif;    color: #4d5b76;margin-left:30px ;}
			#NewPaper{
				z-index: 2;
			    position: fixed;
			    background-color: white;
				display: none;
				border: 2px solid lightgrey;
				font-family: lightgrey;
				padding: 8px;
				/*margin: 100px;*/
				top: 15px;
				left: 260px;
				box-shadow:#666 0px 0px 5px;
			}
			#changePaper{
					z-index: 2;
			    position: fixed;
			    background-color: white;
				display: none;
				border: 2px solid lightgrey;
				font-family: lightgrey;
				padding: 8px;
				/*margin: 100px;*/
				top: 15px;
				left: 260px;
				box-shadow:#666 0px 0px 5px;
				}
			.detail hover {
				background-color: #0000FF
			}
			.baocun {
				display: ruby-base-group;	
			}
			input.input_into {
				font-family: "微软雅黑";
				border:inherit;
				text-align:left;
			/*	width: 40%;*/
				padding: 0px;
				
				
			}
			#hideDiv{
				display: none;
				position: absolute;
				width: 100%;
				min-height: 733px;
				height:120% ;
				background-color:#333;
				opacity: 0.3;
				margin-top: -500px;
				z-index: 1;
			}
			button:.hover {
			background-color: #ddd;}
			.add{
				padding-bottom: 8px;
				height: 30px;
				width: 80px;
				font-family: "微软雅黑";
				font-size: 15px;
				line-height: 30px;
			}
			
		</style>

		<body>
			<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
			<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
			
				<!-- 过滤条件(搜索) -->
				
				<!-- 教师信息内容区域（数据列） -->
			<div class="panel panel-default" >
                        <div class="panel-heading">
                        <span style="font-size: 25px;">试卷管理</span>
			                <div id="addbutton" style="float: right;margin-right: 30px;">
								<!--连接到添加页面-->
								<button class="btn btn-default" onclick="addNewPaper();">添加试卷</button>
							</div>
							
                        
				</div>
				<div id="serach">
					<form action="" method="get">
						<!--<input type="hidden" name="method" value="search">-->
							<div>
								<input value="" type="text" class="form-control" style="width: 150PX;" id="exampleInputName2" placeholder="输入试卷ID"/>
						<input style="position: absolute;margin-left: 155px;margin-top: -34px;" class="btn btn-default" type="button" value="搜索" onclick="searchBtn();" />
							
							</div>
						
					</form>
                        </div>
                   <!--表格-->
                        <div class="panel-body" style="width: 95%;">
                            <div class="table-responsive">
                                <table name="paperTable" class="table table-striped table-bordered table-hover" id="paperTable">
						<!-- 表头-->
						<tr align="center" valign="middle" id="TableTitle">
							<td width="3%" align="center">ID</td>
							<td width="5%" align="center">学科</td>
							<td width="6%" align="center">查看题目</td>
							<td width="10%" align="center">考试开始时间</td>
							<td width="10%" align="center">考试结束时间</td>
							<td width="7%" align="center">操作</td>
					
						
						</tr>
					</table>
				</div>
				</div>
				 
			</div>
			<!--隐藏框-->
			<div id="hideDiv"></div>
			
			<!--添加弹出列表-->
			<div id="NewPaper">	
				<iframe src="paperCreate" width="530px" height="395px" scrolling="no"  frameborder="0"> </iframe>
				<button onclick="closeNewPaper();">退出</button>
			</div>
			
			<!--修改弹出列表-->
			<div id="changePaper">	
				<iframe src="paperMes" width="530px" height="395px" scrolling="no"  frameborder="0"> </iframe>
				<button onclick="closeChangePaper();">退出</button>
			</div>
			
		</body>
		
    
        <script th:inline="javascript">
        /*<![CDATA[*/
//        	test用的json数据
            var paperManage=[
            {"id":"1","course":"数据库","startTime":"2017/12/12 12:12:12","endTime":"2017/12/12 13:12:12"},
            {"id":"2","course":"数据库","startTime":"2017/12/13 12:12:12","endTime":"2017/12/13 13:12:12"}
            ]
            for(var i=0;i<paperManage.length;i++){
            	var insertrow=paperTable.insertRow(paperTable.rows.length);
            	var cell0=insertrow.insertCell(0);
            	cell0.innerHTML=paperManage[i].id;
            	cell0.align="center";
            	var cell1=insertrow.insertCell(1);
            	cell1.innerHTML=paperManage[i].course;
            	cell1.align="center";
            	var cell2=insertrow.insertCell(2);
            	cell2.innerHTML="<button class=\"btn btn-default add\" onclick=\"window.location.href='findPaper'\">查看</button>"
            	cell2.align="center";
            	var cell3=insertrow.insertCell(3);
            	cell3.innerHTML=paperManage[i].startTime;
            	cell3.align="center";
            	var cell4=insertrow.insertCell(4);
            	cell4.innerHTML=paperManage[i].endTime;
            	cell4.align="center"; 
            	var thiscell5=insertrow.insertCell(5);
				thiscell5.innerHTML = "<span onclick=\"changePoint(event);\" class=\"glyphicon glyphicon-pencil\" onmouseover=\"this.style.cursor='hand'\;this.style.color='blue'\" onmouseout=\"this.style.color='black'\"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span onclick=\"deletePoint(event);\" class=\"glyphicon glyphicon-trash\" onmouseover=\"this.style.cursor='hand'\;this.style.color='blue'\" onmouseout=\"this.style.color='black'\"></span>";
				thiscell5.align = "center";
            	
            }

			//关闭弹出框
			function closeNewPaper(){
				document.getElementById("NewPaper").style.display="none";
				document.getElementById("hideDiv").style.display="none";
				window.location.href="paperManage.html";
			}
			function closeChangePaper(){
				document.getElementById("changePaper").style.display="none";
				document.getElementById("hideDiv").style.display="none";
				window.location.href="paperManage.html";
			}
			//打开弹出框
			function addNewPaper(){
				document.getElementById("NewPaper").style.display="block";
				document.getElementById("hideDiv").style.display="block";
			}
			function searchBtn() {
				//要传递的ID参数
				var IDNum=document.getElementById("exampleInputName2").value
				
				
				//ajax获得json返回值
				var data={"id":"1","course":"数据库","startTime":"2017/12/12 12:12:12","endTime":"2017/12/12 13:12:12"};
				var table=document.getElementById("paperTable");
				var len=table.rows.length;  
                for(var i=1;i<len;i++){  
       			 table.deleteRow(1); 
  				  }
                var insertrow = paperTable.insertRow(paperTable.rows.length); //确定添加的行的索引位置
				var cell0=insertrow.insertCell(0);
            	cell0.innerHTML=data.id;
            	cell0.align="center";
            	var cell1=insertrow.insertCell(1);
            	cell1.innerHTML=data.course;
            	cell1.align="center";
            	var cell2=insertrow.insertCell(2);
            	cell2.innerHTML="<button class=\"btn btn-default add\" onclick=\"window.location.href='paper.html'\">查看</button>"
            	cell2.align="center";
            	var cell3=insertrow.insertCell(3);
            	cell3.innerHTML=data.startTime;
            	cell3.align="center";
            	var cell4=insertrow.insertCell(4);
            	cell4.innerHTML=data.endTime;
            	cell4.align="center"; 
            	var thiscell5=insertrow.insertCell(5);
				thiscell5.innerHTML = "<span onclick=\"changePoint(event);\" class=\"glyphicon glyphicon-pencil\" onmouseover=\"this.style.cursor='hand'\;this.style.color='blue'\" onmouseout=\"this.style.color='black'\"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span onclick=\"deletePoint(event);\" class=\"glyphicon glyphicon-trash\" onmouseover=\"this.style.cursor='hand'\;this.style.color='blue'\" onmouseout=\"this.style.color='black'\"></span>";
				thiscell5.align = "center";
                
				
				}
				
			
			function deletePoint(evt)
			{
 
       			 //利用对话框返回的值 （true 或者 false）
    			if(confirm("是否删除该行"))
  				{
 
            		//如果是true ，那么就删除  
					var fPoint=evt.currentTarget.parentNode.parentNode;
					var childs=fPoint.childNodes;
					for(var i=childs.length-1;i>=0;i--){
						fPoint.removeChild(childs[i]);
					}			 
			    }else{}
			}
						
	
	
			//对修改弹出框的操作
			function changePoint(evt){			
				document.getElementById("changePaper").style.display="block";
				document.getElementById("hideDiv").style.display="block";					
			}

			var checkNumber=function() {
			return true;
			}
			
			/*]]>*/
		</script>
</html>