<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>湖大教育  专注在线考试  专注高校教育</title>
	</head>
	<style>
		#container
		{
			height:1200px;
			width:1300
			background:gray;
			}
		#top{
			float:right
			height:650px;
			
		}
		#main{
			height:650px;
			background:pink
		}
		#bottom{
			background-color: white;
			height:100px
		}
		.answer{
			font-family:charcoal "微软雅黑";
			color:red;
			font-size:15px;
		}
		ul{
			list-style: none;
		}
		
	</style> 
<div id="cotainer" >
 <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
			<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
			
		
                    <div class="panel panel-default" >
			 <div class="panel-heading">
                        <span style="font-size:25px;font-weight:1000;">题库信息</span>
                        
			 </div>
                        <div class="panel-body">
                            <ul class="nav nav-tabs">
                                <li class="active" style="font-size:15px;font-weight:700;"><a href="#CHOICE" data-toggle="tab" >选择题</a>
                                </li>
                                <li class="" style="font-size:15px;font-weight:700;"><a href="#SHORTANSWER" data-toggle="tab" >填空题</a>
                                </li>
                                <li class="" style="font-size:15px;font-weight:700;"><a href="#COMPREHENSIVE" data-toggle="tab" >综合题</a>
                                </li>
                               
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="CHOICE">
                                    <ol id="CHOICE-ol"></ol>
                                </div>
                                <div class="tab-pane fade" id="SHORTANSWER">
                                    <ol id="SHORTANSWER-ol"></ol>
                                </div>
                                <div class="tab-pane fade" id="COMPREHENSIVE">
                                </div>
                            </div>
                        </div>
                    </div>
                
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
		var questions={
		"CHOICE":[
		{"ID":"1","desc":"（）是按照一定的数据模型组织的、长期存储在计算机内，可为多个用户共享的数据的集合。","A":"数据库系统","B":"数据库","C":"关系数据库","D":"数据库管理系统","trueAns":"B"},
		{"ID":"2","desc":"数据库系统的基础是（）。","A":"数据结构","B":"数据库管理系统","C":"操作系统","D":"数据模型","trueAns":"D"}
		],
		"SHORTANSWER":[
		{"ID":"1","desc":"数据模型通常由 （）（）和（）3要素组成","trueAns":"数据结构.关系操作.完整性约束"},
		{"ID":"2","desc":"当前数据库系统的主流是（）","trueAns":"数据结构"}
		],
		"COMPREHENSIVE":[]
		};
		//添加选择题到选择题div中
		var CHOICEul = document.getElementById("CHOICE-ol");
		//要添加的题目li变量
        var CHOICEli; 
        //要添加的
　　　　//添加 li
       for(var i=0;i<questions.CHOICE.length;i++){
       	//设置 li 属性，如 id
       	CHOICEli= document.createElement("li");
　　　　CHOICEli.setAttribute("id", "CHOICE"+(i+1));
 
　　　　CHOICEli.innerHTML = "<ul><li>"+questions.CHOICE[i].desc+"</li><br/><li>A: "+questions.CHOICE[i].A+"</li><li>B: "+questions.CHOICE[i].B+"</li><li>C: "+questions.CHOICE[i].C+"</li><li>D: "+questions.CHOICE[i].D+"</li><br/><li class=\"answer\">正确答案："+questions.CHOICE[i].trueAns+"</li></ul><hr/>";
　　　　CHOICEul.appendChild(CHOICEli);
       }
       //添加填空题
       var SHORTANSWERul = document.getElementById("SHORTANSWER-ol");
		//要添加的题目li变量
        var SHORTANSWERli; 
        //要添加的
　　　　//添加 li
       for(var i=0;i<questions.SHORTANSWER.length;i++){
       	//设置 li 属性，如 id
       	SHORTANSWERli= document.createElement("li");
　　　　SHORTANSWERli.setAttribute("id", "SHORTANSWER"+(i+1));
 
　　　　SHORTANSWERli.innerHTML = "<ul><li>"+questions.SHORTANSWER[i].desc+"</li><br/><li></li><br/><li class=\"answer\">正确答案："+questions.SHORTANSWER[i].trueAns+"</li></ul><hr/>";
　　　　SHORTANSWERul.appendChild(SHORTANSWERli);
       }
       /*]]>*/
	</script>	
	</div>
	
	
</html>
