<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<style>
		
	</style>

			<frameset rows="50px,*,60px" border="2px" frameborder="1">
                    <frame id="top" src="teacher_top" name="top" scrolling="no"/>
                        <frameset cols="17%,*">
                        	<frame src="teacher_button"  scrolling="no"/>
                        	<frame src="teacher_index1" name="index1"/>
                        </frameset>
                        <frame src="teacher_footer"  scrolling="no"/>
                        
           </frameset>			
	<body></body>	


</html>