<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		
	</style>

			<frameset rows="50px,*,60px" border="2px" frameborder="1">
                    <frame id="top" src="top.html" name="top" scrolling="no"/>
                        <frameset cols="17%,*">
                        	<frame src="button.html" / scrolling="no">
                        	<frame src="index1.html" name="index1"/>
                        </frameset>
                        <frame src="footer.html" / scrolling="no">
                        
           </frameset>			
		
	</body>

</html>